* {
  padding: 0px;
  margin: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 198, 189);
  height: 100vh;
}

.App h1 {
  margin-bottom: 10px;
  padding: 20px;
  font-size: 45px;
}

.Menu {
  width: 500px;
  height: 500px;
  background-color: #5F4B8BFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Menu input {
  width: 300px;
  height: 20px;
  padding: 5px;
  font-size: 25px;
  /* border: 3px solid #E69A8DFF; */
  padding: 10px;
  border-radius: 5px;
  text-align: center;

}

.Menu input::placeholder {
  font-size: 15px;
  opacity: 0.5;
}

.Menu input:focus {
  border: 3px solid #E69A8DFF;
  box-shadow: 0 0 10px #E69A8DFF;
  outline: none;
}

.Menu button {
  width: 300px;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-top: 150px;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  background-color: #E69A8DFF;
  cursor: pointer;
}

.Quiz {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 500px;
  background-color: #5F4B8BFF;
  border-radius: 10px;

}

.Quiz h2 {
  text-align: center;
  padding: 20px;
}

.options {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  /* border: 2px solid black; */
  height: 40vh;
  width: 50vh;
  transition: all 0.5s ease-in-out;
}

.options button {
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
  padding: 10px;
  transition: all 0.5s ease;
}

.options button:hover {
  background-color: #E69A8DFF;
}

.options button.selected {
  background-color: #E69A8DFF;

}

/* .options :focus {
  background-color: #E69A8DFF;
} */

.Result-Wrapper {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 400px;
  background-color: #5F4B8BFF;
  border-radius: 10px;
}

.outcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vh;
  gap: 2.5rem;
}

.outcome h2 {
  padding: 10px;
}

.btn {
  width: 60%;
  height: 7%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.btn-1 {
  width: 60%;
  height: 10%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.btn-1 a {
  text-decoration: none;
  color: black;
}

.outcome button:hover {
  background-color: #E69A8DFF;
}